:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.nav-container {
  background-color: #000000;
  height: 100%;
  width: 300px;
  color: #FFFFFF;
}

.sidenav-container {
  flex: 1;
}

.sidenav-toggle {
  position: absolute;
}

.orcasmart-logo {
  display: block;
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  margin: auto;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authlink-container {
  position: absolute;
  border-top: 1px solid #FFFFFF;
  bottom: 0;
  width: 100%;
}

.authlink-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.authlink {
  display: block;
  padding: 15px 0;
}

.ng-content-wrapper {
  padding: 10px;
}
