<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" opened="false">
    <div class="nav-container">
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
          <div class="icon">
            <mat-icon>home</mat-icon>
            Home
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="icon">
            <mat-icon>note</mat-icon>
            Notes
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="icon">
            <mat-icon>assistant</mat-icon>
            Expo
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="icon">
            <mat-icon>store</mat-icon>
            Orcashop
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="icon">
            <mat-icon>import_contacts</mat-icon>
            Showcase
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="icon">
            <mat-icon>contact_phone</mat-icon>
            Contacts
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="authlink-container">
        <ul class="authlink-list">
          <li class="authlink-item">
            <a routerLink="/login" class="authlink" (click)="sidenav.close()">Log In</a>
          </li>
          <li class="authlink-item">
            <a routerLink="/signup" class="authlink" (click)="sidenav.close()">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()" class="sidenav-toggle">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="orcasmart-logo">
        <img src="assets/images/orcasmart_logo.png" width="50"/>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
