.email {
    font-size: 15px;
}

.logout {
    display: block;
    position: absolute;
    right: 15px;
    padding: 0px 0px 25px 0px;
}

img {
    border-radius: 50% 50%;
    width: 70px;
    height: 70px;
    margin: 20px;
    margin-top: 50px;
}


.first-row {
    height: 80px;
}

.material-icons.mat-72 { 
    font-size: 72px; 
    padding: 20px;
    padding-top: 50px;    
}